spring:
  application:
    name: bookingingestion

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:BOOKING_INGESTION_DB
    username: books
    password: books
    driver-class-name: oracle.jdbc.OracleDriver

  main:
    banner-mode: off
  threads:
    virtual:
      enabled: true
  flyway:
    enabled: true
  # Note: Oracle dialect not available in jOOQ Open Source Edition
  # jOOQ will use DEFAULT dialect - SQL will still work but without Oracle-specific optimizations
  # For full Oracle support, upgrade to jOOQ Professional/Enterprise Edition
  # jooq:
  #   sql-dialect: oracle

  kafka:
    properties:
      auto.register.schemas: false

    bootstrap-servers: localhost:9092
    consumer:
      group-id: bookingingestion-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.protobuf.KafkaProtobufDeserializer
      properties:
        specific.protobuf.value.type: com.avaloq.acp.bde.protobuf.books.Books
        schema.registry.url: http://localhost:9010/apis/ccompat/v7
      auto-offset-reset: earliest



innuvation:
  bookingingestion-service:
    listener-auto-startup: true
    batch-size: 100
    books:
      input-topic-name: com.avaloq.acp.bde.books

