services:
  kafka:
    image: confluentinc/cp-kafka:8.0.0
    container_name: kafka
    ports:
      - "9092:9092"
      - "29092:29092"
      - "9093:9093"
      - "9094:9094"
    depends_on:
      - apicurio
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/secrets/sasl/kafka_server_jaas.conf"
      KAFKA_PROCESS_ROLES: controller,broker
      CLUSTER_ID: local
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@localhost:9093"
      KAFKA_LISTENERS: SASL_PLAINTEXT_LISTENER_HOST://kafka:9092,SASL_PLAINTEXT_LISTENER://kafka:29092,CONTROLLER_LISTENER://:::9093,INTER_BROKER_LISTENER://kafka:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: SASL_PLAINTEXT_LISTENER_HOST:SASL_PLAINTEXT,SASL_PLAINTEXT_LISTENER:SASL_PLAINTEXT,CONTROLLER_LISTENER:PLAINTEXT,INTER_BROKER_LISTENER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: SASL_PLAINTEXT_LISTENER_HOST://localhost:9092,SASL_PLAINTEXT_LISTENER://kafka:29092,INTER_BROKER_LISTENER://kafka:9094
      KAFKA_INTER_BROKER_LISTENER_NAME: INTER_BROKER_LISTENER
      KAFKA_SECURITY_INTER_BROKER_PROTOCAL: SASL_PLAINTEXT
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER_LISTENER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_SASL_ENABLED_MECHANISMS: SCRAM-SHA-512
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    volumes:
      - ./secrets:/etc/kafka/secrets/sasl

  add-kafka-users:
    image: confluentinc/cp-kafka:8.0.0
    container_name: add-kafka-users
    depends_on:
      - kafka
    command: "bash -c 'echo Waiting for Kafka to be ready... && \
                          cub kafka-ready -b kafka:9094 1 120 && \
                          kafka-configs --bootstrap-server kafka:9094 --alter --add-config 'SCRAM-SHA-512=[iterations=4096,password=password]' --entity-type users --entity-name admin && \
                          kafka-configs --bootstrap-server kafka:9094 --alter --add-config 'SCRAM-SHA-512=[iterations=4096,password=password]' --entity-type users --entity-name client '"
    environment:
      KAFKA_BROKER_ID: ignored
      KAFKA_ZOOKEEPER_CONNECT: ignored
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/secrets/sasl/kafka_server_jaas.conf
    volumes:
      - ./secrets:/etc/kafka/secrets/sasl

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:v1.3.0@sha256:edd59f51a992cf79c16a394fd141a6ab47eb9c1deeb77a3e360035ac3e7bc30c
    hostname: localhost
    container_name: kafka-ui
    ports:
      - "9000:8080"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_PLAINTEXT
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: SCRAM-SHA-512
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: 'org.apache.kafka.common.security.scram.ScramLoginModule required username="admin" password="password";'
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://apicurio:8080/apis/ccompat/v7

  apicurio:
    container_name: apicurio
    image: apicurio/apicurio-registry-mem:2.6.5.Final@sha256:3baf2aa8bb40590d5a0bd45296683d402a1f560a879ccf7e8e78211afe6838de
    ports:
      - "9010:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 5s
      timeout: 2s
      retries: 20


  oracle:
    image: gvenzl/oracle-xe:latest
    container_name: bookingingestion-oracle
    ports:
      - "1521:1521"
      - "5500:5500"
    environment:
      ORACLE_PASSWORD: books
      ORACLE_DATABASE: BOOKING_INGESTION_DB
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 5s
      retries: 10